<table>
  <tr>
    <td><input type="text" name="Name" [(ngModel)]="employee.Name"></td>
    <td><input type="text" name="Name" [(ngModel)]="employee.Description"></td>
    <td><input type="text" name="Name" [(ngModel)]="employee.Position"></td>
    <td><input type="text" name="Name" [(ngModel)]="employee.Salary"></td>
    <td *ngIf="idToUpdate == 0">
      <button (click)="insertEmployee()">Insert</button>
    </td>
    <td *ngIf="idToUpdate !=0">
      <button (click)="updateEmployee()">Update</button>
    </td>
  </tr>
</table>
<table border="1">
  <tr>
    <td>EmployeeID</td>
    <td>Name</td>
    <td>Description</td>
    <td>Position</td>
    <td>Salary</td>
  </tr>
  <tr *ngFor="let employee of Employees">
    <td>{{ employee.EmployeeID }}</td>
    <td>{{ employee.Name }}</td>
    <td>{{ employee.Description }}</td>
    <td>{{ employee.Position }}</td>
    <td>{{ employee.Salary }}</td>
    <td>
      <button (click)="selectEmployee(employee.EmployeeID)">select</button>
    </td>
    <td>
      <button (click)="deleteEmployee(employee.EmployeeID)">Delete</button>
    </td>
  </tr>
</table>
